.root {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0;

  & > div:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
  }
}

.idle {
  border-color: black;
  & > div:first-child {
    background-color: var(--mantine-color-gray-light);
  }
}

.error {
  border-color: var(--mantine-color-error);
  & > div:first-child {
    background-color: var(--mantine-color-red-1);
  }
}

.approved {
  border-color: var(--mantine-color-green-9);
  & > div:first-child {
    background-color: var(--mantine-color-green-light);
  }
}
