.root {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0;
  transition: all 0.25s ease-out;

  & > div:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    transition: background-color 0.25s ease-out;
  }
}

.idle {
  border-color: black;
  animation: fadeIn 0.3s ease-out;

  & > div:first-child {
    background-color: var(--mantine-color-gray-light);
  }
}

.error {
  border-color: var(--mantine-color-error);
  animation: shake 0.5s ease-in-out;

  & > div:first-child {
    background-color: rgba(255, 227, 227, 0.5);
  }
}

.empty {
  border-color: var(--mantine-color-red-3);
  animation: shake 0.5s ease-in-out;

  & > div:first-child {
    background-color: rgba(255, 227, 227, 0.5);
  }
}

.approved {
  border-color: var(--mantine-color-green-9);
  animation: success 0.5s ease-in-out;

  & > div:first-child {
    background-color: var(--mantine-color-green-light);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.002);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes success {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.002);
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.3);
  }
  100% {
    transform: scale(1);
  }
}
